// _variables.scss

// Colors
$primary-color: #eeeeee;
$secondary-color: rgb(119, 0, 69);
$success-color: #28a745;
$warning-color: #93e790;
$error-color: #dc3545;

// Spacing
$spacing-1: 0.25rem;
$spacing-2: 0.5rem;
$spacing-3: 0.75rem;
$spacing-4: 1rem;
// ... add more spacing variables as needed

// Font Sizes
$font-size-base: 1rem;
$font-size-sm: 0.875rem;
$font-size-lg: 1.25rem;
// ... add more font size variables as needed
